html {
  font-size: 62.5%;
}
body {
  width: 980px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.header {
  background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}
.top_menu li {
  float: left;
  width: auto;
}
.top_menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
ul.top_menu {
  float: right;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}
.contact_image{
  width: 100%;
}
.side_menu{
  width: 300px;
  float: left;
}
.side_menu li{
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li a{
  font-size:2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.submit{
  background-color: turquoise;
}
.footer {
   width : 100% ;
   height : 100px ;
   position : absolute ;
   bottom : 0 ;
   background-color : # 4D4D4D ;
}
.footer{
  width: 77%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color: #4D4D4D;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.send_button {
  background-color:;
  text-align: center;
}

.content{
  text-align:left;
}

.Name{
  padding-left:20px;
}
.send_button {
    background-color:skyblue;
    color: white;
    display: block;
    margin: 0 auto;
    transition: .4s;
    width: 70px;
}
.send_button:hover {
    background: #008000;
    color: white;
}

.side_menu li:hover{
  opacity: 0.6;
}
